STACKS_API_URL=https://stacks-node-api.regtest.stacks.co
MODE=testnet

CONTRACT_NAME_SIP010_TRAIT=sip-010-v0a
CONTRACT_NAME_LIQUIDITY_TOKEN_TRAIT=liquidity-token-trait-v0a
CONTRACT_NAME_RESTRICTED_TOKEN_TRAIT=restricted-token-trait-v0a
CONTRACT_NAME_STACKSWAP_DAO_TOKEN_TRAIT=stackswap--dao-token-trait-v0a
CONTRACT_NAME_INITIALIZABLE_TOKEN_TRAIT=initializable-trait-v0a

CONTRACT_NAME_STACKSWAP_SWAP_V1=stackswap-swap-v1c
CONTRACT_NAME_STACKSWAP_SWAP_FEE_V1=stackswap-swap-fee-v0a

CONTRACT_NAME_STACKSWAP_ONE_STEP_MINT_FEE_V1=stackswap-one-step-mint-fee-v0c
CONTRACT_NAME_STACKSWAP_ONE_STEP_MINT_V1=stackswap-one-step-mint-v0d

CONTRACT_NAME_STACKSWAP_DAO=stackswap-dao-v0e
CONTRACT_NAME_STACKSWAP_GOVERNANCE_V1=stackswap-governance-v0c

CONTRACT_NAME_STACKSWAP_FARMING=stackswap-farming-v0a
CONTRACT_NAME_STACKSWAP_FARMING_REWARD=stackswap-farming-reward-v0a

CONTRACT_NAME_VSTSW=vstsw-token-v0a
CONTRACT_NAME_STSW=stsw-token-v0a
CONTRACT_NAME_WSTX=wstx-token-v0b
CONTRACT_NAME_PLAID=plaid-token-v0a
CONTRACT_NAME_PLAID_WSTX=plaid-wstx-token-v0a
CONTRACT_NAME_TOKENSOFT=tokensoft-token-v0a
CONTRACT_NAME_TOKENSOFT_V2=tokensoft-v2-token-v0b
CONTRACT_NAME_TOKENSOFT_WSTX=tokensoft-wstx-token-v0a
CONTRACT_NAME_POXLSOFT_V1=tokensoft-v1-token-v0a
CONTRACT_NAME_LIQUIDITY_TOKENSOFT_V1=liquidity-token-v0a


STSW_SK="<YOUR PRIVATE MNEMONIC HERE>"
STSW_PK="<YOUR PRIVATE KEY HERE>"
STSW_STX=ST23DAB333A5CPFXNK13E5YMX1DZJ07112QA7HWHA
